{% extends "base.html" %}
{% block title %}Quinques{% endblock %}
{% block body %}
<h1 class="dashboard">Quinques</h1>

<table id="quinquesTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Owner</th>
      <th>Rank</th>
      <th>RC Type</th>
      <th>Kakuja Level</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for quinque in quinques %}
    <tr>
      <td>{{ quinque.id }}</td>
      <td>{{ quinque.name }}</td>
      <td>{{ quinque.rating }}</td>
      <td>{{ quinque.investigator_name }}</td>
      <td>{{ quinque.rank }}</td>
      <td>{{ quinque.rc }}</td>
      <td>{{ quinque.kakuja_level if quinque.kakuja_level is not none else 'N/A' }}</td>
      <td><a href="{{ url_for('quinque', id=quinque.id) }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
